/* some style */
ul {
    list-style: none;
}

h1 {
    text-align: center;
}

.teams-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.team-list {
    text-align: center;
}

.team input {
    width: 10%;
}

.team {
    margin: .5em;
}

.stats-div {
    display: flex;
}

.stats-list {
    display: flex;
    flex-direction: column;
}

.roster-list  {
    display: flex;
    flex-direction: column;
}

.player-list  {
    text-align: right;
}

.stats-button {
    margin: 2em auto 0;
    width: 15%;
}
