/* some style */
div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

ul {
    list-style: none;
}


.stats-div {
    text-align: left;
}

.stats-div h1{
    text-align: center;
}

.stats-list li {
    margin-top: .25em;
}

.stats-button {
    margin: 2em auto 0;
    width: 15%;
}


.team-list {
    text-align: center;
}

.team input {
    width: 10%;
}

.team {
    margin: .5em;
}
